<%= link_to programmer_path(programmer_index) do %>
  <p class="list-group-item programmer-item">
    <%= image_tag programmer_index.image, width: '70px' %>
    <%= programmer_index.name %>
  </p>
<% end %>